* {
    margin: 0;
   
}

* h1{

    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    margin: 30px;
    text-align: center;
    text-transform: uppercase;


}
/* 
section {
    width: 100%;
    height: 768px;
} */

:root {
    --naranjita: #DD5A0A;
  }
body {
    background-color: #a2a2a22d;
}

main {
}

header {
    width: 100%;
    height: 100%;
    /* background-color: #d30808; */
}

.div_header {
    display: flex;
    width: 100%;
    height: 13%;
    /* background-color: #d30808; */
    background: linear-gradient(rgba(211, 8, 8, 1), 70%, #DD5A0A);
    background-size: 100% 100%;
    /* border: 3px solid black; */
    border-bottom: 1px solid black;
}

.btn-menu {
    display: none;
}

.section_inicio {
   width: 100%;
   height: 10000px;
}

.logo {
    width: 74px;
    height: 70px;
    padding: 10px 30px;
}

.nav {
    display: flex;
    width: 100%;
}

.lista_enlaces {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: right;
    align-items: center;
}

.items_nav {
    display: inline-block;
    /* margin-top: 22.5px; */
    font-size: 20;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    transition: all 0.2s;
}

.items_nav:hover {

    transform: scale(1.3);
    transition: all 0.4s;
    color: white;
}

.container-nav {
    display: flex;
    width: 87%;
}

.container-burguer {
    display: none;
}

.lista-enlaces-celular {
    display: none;
    list-style: none;
    /* margin-top: 22.5px; */
    font-size: 20;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    background: #d30808;
}
/* icono burguer */

.barras_menu {
    margin-right: 5%;
    width: 35px;
    height: 35px;
    cursor: pointer;
    display: none;
}

.barras_menu span {
    display: block;
    width: 100%;
    height: 4px;
    background: black;
    border-radius: 10px;
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: all 0.5s;
}

.activeline1__barras-menu {
    transform: rotate(45deg) translate(-3px, 1px);
}

.activeline2__barras-menu {
    opacity: 0;
    margin-left: -40px;
}

.activeline3__barras-menu {
    transform: rotate(-45deg) translate(-3px, 2px);
}
/* icono burguer */

.nav-celular {
    display: none;
}

.active-header{
    visibility:visible !important;
    opacity: 1 !important;
} 
    

/* inicio */

.section_inicio{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    justify-content: space-around;

}

.section_imagen img{
    border-color:#d30808;
    box-shadow: 3px 3px 3px #d30808;
   
}
.container_imagenes{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 55%; 
    margin-top: 20px;
    height: 100%;
}


.container_imagenesUno
{
    display: flex;
    flex-direction: column;
    align-self:flex-end;
    width: 250px;
    height: 205px;    
}
.container_imagenes img
{
    box-shadow: 7px 9px 15px  #d30808;   
}
.container_imagenesDos
{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 205px;
    

}
.container_imagenesTres{
    display: flex;
    flex-direction: column;
    align-self:flex-end;
    width: 250px;
    height: 205px;
}
.container_imagenesCuatro{
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 205px;
    
}
.container_imagen{
    width: 250px;
    height: 295px;
    display: flex;
    flex-direction: column;
    margin-right: 20%;
}




/* inicio */




.titulo {
    background: rgba(255, 255, 255, 0.5);
}

.section_album {
    width: 100%;
}

.titulo-album{

}

.conteiner_album{
   margin-top: 150px;
    display: flex;
    flex-direction: column;
   align-items: center;
  
}

.contenedor_banner {
   margin: 20px;
    
}

.container_vivo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-vivo{
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
}

.section-vivo h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 45px;
    margin: 20px;
}
.video{
 
}
.container_reproductor {
    width: 80%;
    margin-top: 20px;
    /* height: 650;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; */
}

.img-album {
    width: 300px;
    height: 200px;
    margin-top: 50px;
}

.tit_sobre_nosotros {
}

.div_sobre_nosotros {
}

.div_detalles {
    display: inline-block;
    justify-content: center;
    width: 100%;
    margin-left: 100px;
}

.video__container {
    display: flex;
    justify-content: center;
    width: 100%;
}


form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.container-contacto {
    display: flex;
    justify-content: center;
    justify-items: center;
}
input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #d30808;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="button"] {
    background-image: linear-gradient(to right, #DD5A0A 1%, #d30808  51%, #DD5A0A  100%);
     margin: 10px;
     padding: 15px 45px;
     text-align: center;
     text-transform: uppercase;
     transition: 0.5s;
     background-size: 200% auto;
     color: white;            
     border-radius: 10px;
     display: block;
  }
  input[type=button]:hover {
    background-position: right center; /* change the direction of the change here */
     color: #fff;
     text-decoration: none;
  }
  .container_form{
    width: 25%;
    height: 100%;
    background-image: linear-gradient(to right, #dd5b0a 1%, #d30808  51%, #d30808  100%);
    border:solid;
    border-color: #DD5A0A;
    transition: all 0.5s;
}
  .container_form:hover{
    
  }         
  

   .btn-grad:hover {
     
   }
  


  .container-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
     width: 100%;
  }

.section_contacto {
    background-color: white(225, 115, 41);
    height: 400px;
    margin-bottom: 50px;
}



.section-galeria{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 60%;
}

.container-imagenes{
    display: flex;
    width: 90%;
    border: solid;
    border-color: #DD5A0A;
    height: 80%;
    flex-direction: column;
}
.container-imagenes img {
    display: none;
    width: 100%;
    height: 100%;
    transition: all 0.6s;
}

.active-img {
   position: static;
   opacity: 1 !important;
   visibility: visible!important;
   transition: all 1;
   
}

.controladores{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 20px;
    box-shadow: 2px 5px 5px grey;
}
.container_btns{
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.controladores:hover{
    background-color: #d30808;
    transition: all .6s;
    transform: scale(1.3);
}

.controladores-celular{
    display: none;
}
.controladores-celular:hover{
    background-color: #de4a4d;
    transition: all 1s;
}


.conteiner_opiniones{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.container-opinion{
    border: solid;
    width: 350px;
    margin: 20px;
    background-image: linear-gradient(to right, #fb6000 1%, #ff0808  51%, #ff1616  100%);
    border:solid;
    transition: all 0.5s;
}
.section-opinon{
 display: flex;
 flex-direction: column;
 align-items: center;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.iconos{
    margin: 20px;
    transition: all 0.3;
}
.iconos:hover{
    margin: 20px;
    transform: scale(1.3);
}
.contenedor_nav_redes{
  
}


.nav-redes{
    display: flex;
    margin: 0px auto;
    justify-content: center;
    width: 100%;
    background-color: white;
}

.container-contacto h2{
font-family: 'Courier New', Courier, monospace;
font-size: 45px;
 margin-bottom: 15px;
}

 footer p {
    font-size: small;
    font-family: Courier;
}
.nuevaImagen{
   margin-bottom: 100px;
}

.lbl_Mensaje{
    color: red;
    font-size: 30px;
}

@media (max-width: 1050px) {

    .container-imagenes{
        /* height: 300px; */
    }
    .container_form{
        width: 40%;
    }
    .nuevaImagen{
        width: 200px!important;
       margin-bottom: 50px;
       height: 300px;
    }
}




@media (max-width: 769px) {
    * h1{
        font-size: 20px;
    }
    header {
        height: 2%;
    }
    .barras_menu {
        display: block;
    }
    
    .lista-enlaces-celular {
        display: block;
    }
    .container-burguer {
        display: inline-block;
    }
     .nav-celular {
        width: 100%;
        opacity: 0;
        display: block;
        visibility: hidden;
        transition: all 0.8s;
        position: absolute;
        background-color: #d30808;
        z-index: 1000;
    }
    .container-nav {
        display: flex;
        flex-direction: column;
    }

    .lista_enlaces {
        display: flex;
        flex-direction: column;
    }
    .nav {
        display: none;
    }
    .div_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .container_imagenes{
     display: flex;
     flex-wrap: wrap; 
     
    }

    .btn-menu {
        margin: 15px;
        display: block;
        background-color: transparent;
        border: none;
    }
    .section-galeria{
      flex-direction: column;
    }
    .container_form{
        width: 60%;
    }

 

    .nuevaImagen{
        width: 250px!important;
       margin-bottom: 100px;
       margin-bottom: 200px;
    }
}

@media (max-width: 570px) {
    .nuevaImagen{
        width: 200px!important;
        height: 300px;
        margin-bottom: 130px;
    }
    .container-imagenes{
        width: 85% ;
        height: 85%;
    }
}
@media (max-width: 460px) {
    .nuevaImagen{
     width: 150px;
    margin-bottom: 150px;
    }
}