* {
    margin: 0;
}
/* 
section {
    width: 100%;
    height: 768px;
} */

body {
}

main {
}

header {
    width: 100%;
    height: 100%;
    /* background-color: #d30808; */
}

.div_header {
    display: flex;
    width: 100%;
    height: 13%;
    /* background-color: #d30808; */
    background: linear-gradient(rgba(211, 8, 8, 1), 70%, pink);
    background-size: 100% 100%;
    /* border: 3px solid black; */
    border-bottom: 1px solid black;
}

.btn-menu {
    display: none;
}

.section_inicio {
    /* border: solid;
    border-color: black; */
}

.logo {
    width: 74px;
    height: 70px;
    padding: 10px 30px;
}

.nav {
    display: flex;
    width: 100%;
}

.lista_enlaces {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: right;
    align-items: center;
}

.items_nav {
    display: inline-block;
    /* margin-top: 22.5px; */
    font-size: 20;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    transition: all 0.2s;
}

.items_nav:hover {
    background: rgba(255, 255, 255, 0.156);
    transform: scale(1.1);
    color:#bd0003
}

.container-nav {
    display: flex;
    width: 87%;
}

.container-burguer {
    display: none;
}

.lista-enlaces-celular {
    display: none;
    list-style: none;
    /* margin-top: 22.5px; */
    font-size: 20;
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
    background: rgba(211, 8, 8, 1);
}
/* icono burguer */

.barras_menu {
    margin-right: 5%;
    width: 35px;
    height: 35px;
    cursor: pointer;
    display: none;
}

.barras_menu span {
    display: block;
    width: 100%;
    height: 4px;
    background: black;
    border-radius: 10px;
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: all 0.5s;
}

.activeline1__barras-menu {
    transform: rotate(45deg) translate(-3px, 1px);
}

.activeline2__barras-menu {
    opacity: 0;
    margin-left: -40px;
}

.activeline3__barras-menu {
    transform: rotate(-45deg) translate(-3px, 2px);
}
/* icono burguer */

.nav-celular {
    display: none;
}

.active-header{
    visibility:visible !important;
    opacity: 1 !important;
} 
    

/* inicio */

.section_inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}


.container_inicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 55%;
    height: 100%;
    margin-top: 50px;
    border: solid;
   
}

.container_texto {
    width: 100%;
    font-size: 20px;
    align-items: center;
    margin-top: 20px;
    
}
.container_inicio h1 {
    
    font-family: 'Courier New', Courier, monospace;
     font-size: 45px;

} 

.container_inicio p{
    font-family:'Times New Roman', Times, serif;
}

/* inicio */




.titulo {
    background: rgba(255, 255, 255, 0.5);
}

.section_album {
    width: 100%;
}

.titulo-album{
    font-family: 'Courier New', Courier, monospace;
     font-size: 45px;
}

.conteiner_album{
   margin-top: 150px;
    display: flex;
    flex-direction: column;
   align-items: center;
  
}

.contenedor_banner {
   margin: 20px;
    
}

.container_vivo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-vivo{
    width: 100%;
    height: 300px;
    margin-bottom: 20px;
}

.section-vivo h2{
    font-family: 'Courier New', Courier, monospace;
    font-size: 45px;
    margin: 20px;
}
.video{
 
}
.container_reproductor {
    width: 80%;
    margin-top: 20px;
    /* height: 650;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; */
}

.img-album {
    width: 300px;
    height: 200px;
    margin-top: 50px;
}

.tit_sobre_nosotros {
}

.div_sobre_nosotros {
}

.div_detalles {
    display: inline-block;
    justify-content: center;
    width: 100%;
    margin-left: 100px;
}

.video__container {
    display: flex;
    justify-content: center;
    width: 100%;
}


form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.container-contacto {
    display: flex;
    justify-content: center;
    justify-items: center;
}
input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #bd0003;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    background-color: #bd0003;
    color: black;
    padding: 14px 20px;
    margin-top: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border: solid;
    border-color: black;
  }
  input[type=submit]:hover {
    background-color: #ff0000;
  }
  .container_form{
    width: 25%;
    height: 100%;
    background-color:#DC5909;
    border:solid;
    border-color: black;
    transition: all 0.5s;
}
  .container_form:hover{
    background-color:#fd6709;
  }


  .container-contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
     width: 100%;
  }

.section_contacto {
    background-color: white(225, 115, 41);
    height: 400px;
    margin-bottom: 50px;
}



.section-galeria{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 60%;
}

.container-imagenes{
    display: flex;
    width: 90%;
    border: solid;
    height: 400px;
    flex-direction: column;
}
.container-imagenes img {
    display: none;
    width: 100%;
    height: 100%;
    transition: all 0.6s;
}

.active-img {
   position: static;
   opacity: 1 !important;
   visibility: visible!important;
   transition: all 1;
   
}

.controladores{
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin: 20px;
    box-shadow: 2px 5px 5px grey;
}
.container_btns{
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.controladores:hover{
    background-color: #de4a4d;
    transition: all .6s;
    transform: scale(1.3);
}

.controladores-celular{
    display: none;
}
.controladores-celular:hover{
    background-color: #de4a4d;
    transition: all 1s;
}



footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.iconos{
    margin: 20px;
    transition: all 0.3;
}
.iconos:hover{
    margin: 20px;
    transform: scale(1.3);
}
.contenedor_nav_redes{
  
}

.nav-redes{
     display: flex;
     margin: 0px auto;
     justify-content: center;
     width: 100%;
     border: solid;
     border-color: black ;
    background-color: white;
}

.container-contacto h2{
font-family: 'Courier New', Courier, monospace;
font-size: 45px;
 margin-bottom: 15px;
}

 footer p {
    font-size: small;
    font-family: Courier;
}


@media (max-width: 1050px) {

    .container-imagenes{
        height: 200px;
    }
    .container_form{
        width: 40%;
    }

}




@media (max-width: 769px) {
    header {
        height: 2%;
    }
    .barras_menu {
        display: block;
    }
    
    .lista-enlaces-celular {
        display: block;
    }
    .container-burguer {
        display: inline-block;
    }
     .nav-celular {
        width: 100%;
        opacity: 0;
        display: block;
        visibility: hidden;
        transition: all 0.8s;
        position: absolute;
        background-color: #d30808;
        z-index: 1000;
    }
    .container-nav {
        display: flex;
        flex-direction: column;
    }

    .lista_enlaces {
        display: flex;
        flex-direction: column;
    }
    .nav {
        display: none;
    }
    .div_header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .btn-menu {
        margin: 15px;
        display: block;
        background-color: transparent;
        border: none;
    }
    .section-galeria{
      flex-direction: column;
    }
    .container_form{
        width: 60%;
    }
}