* {
    margin: 0;


}

section {
    width: 100%;
    height: 768px;
}

body {
 

    background-color: grey;
}

header {
    width: 100px;
    height: 101px;
    background-color: #d30808;
}

.div_header {
    display: flex;
    width: 100%;
    height: 101px;
    position: fixed;
    background-color: #d30808;
    background-size: 100% 100%;
}

.btn-menu{
 display: none;
}

.section_inicio {
    background-color: white;

}


.logo {
    width: 74px;
    height: 70px;
    padding: 10px 30px;
}


.nav {
    display: flex;
    width: 100%;
}

.lista_enlaces {
    list-style: none;
    display: flex;
    width: 100%;
    justify-content: right;

}

.items_nav {
    display: inline-block;
    margin-top: 22.5px;
    font-size: 20;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    padding: 10px 30px;
    text-decoration: none;

}

.items_nav:hover {
    background: rgba(130, 158, 89, 0.4);
}

.container-nav{
 display: flex;
 width: 87%;

}

.container-burguer{
    display: none;
}


.lista-enlaces-celular{
    display: none;
    list-style: none;
    margin-top: 22.5px;
    font-size: 20;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: white;
    padding: 10px 30px;
    text-decoration: none;
}
/* icono burguer */

.barras_menu{
    width: 35px;
    height: 35px;
    left: 90%;
    top: 30%;
    position: absolute;
    cursor: pointer;
    display: none;
}

.barras_menu span {
    display: block;
    width: 100%;
    height: 4px;
    background: black;
    border-radius: 10px;
    margin-top: 6px;
    transform-origin: 0px 100%;
    transition: all 300ms;
}

.activeline1__barras-menu{
    transform: rotate(45deg) translate(-3px, 1px); 
}

.activeline2__barras-menu{
    opacity: 0;
    margin-left: -40px; 
}

  
.activeline3__barras-menu{
    transform: rotate(-45deg) translate(-3px, 2px);
}
/* icono burguer */


.nav-celular  
{
    display: none;
}

@media (max-width: 769px){
.barras_menu{
  display: block;
}
.nav-celular  
{
    width: 35%;
    height: 500px;
    transition: all 1s;
    position: absolute;
    background-color: #d30808;
}
.lista-enlaces-celular{
    display: block;
} 
.container-burguer{
    display: inline-block;
}    

.container-nav{
 display: flex;
 flex-direction: column;
}


.lista_enlaces{
    display: flex;
    flex-direction: column;
}
    .nav{
        display: none;
    }   

  
    .div_header{
        display: flex;
        justify-content: space-between;
    }
    .btn-menu{
        margin : 15px;
        display: block;
        background-color: transparent;
        border: none;
    }

}










.titulo {
    background: rgba(255, 255, 255, 0.5);

}

.section_album {
    background-color: white;
   /* background-image: url("./images/fondo_album.png");
    Background-repeat: no-repeat; */
}

.section_album {
    display: flex;
    justify-content: center;
    justify-items: center;
    height: 900px;
}

.container-album {
    display: flex;
    justify-content: center;
    align-items: center;
}

audio{
    background-color: transparent;
     margin-top: 5px; 
}

.container_reproductor{
    margin-top: 20px;
    height: 650;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
 
} 
.img-album {
    width: 300px;
    height: 200px;
    margin-top: 50px;
}






.tit_sobre_nosotros {}

.div_sobre_nosotros {}

.div_detalles {
    display: inline-block;
    justify-content: center;
    width: 100%;
    margin-left: 100px;
}

.video__container {
    display: flex;
    justify-content: center;
    width: 100%;
}




.container_form {
    display: flex;
    justify-content: center;
}

.container-contacto {
    display: flex;
    justify-content: center;
    justify-items: center;
}
input[type=text], input[type=email]  {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
  display: inline-block;
  border: 1px solid #bd0003;
  border-radius: 4px;
  box-sizing: border-box;
  }

input[type=submit] {
    width: 100%;
    background-color: #bd0003;
    color: black;
    padding: 14px 20px;
    margin-top: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #ff0000;

  }
.section_contacto {}

.carruzel {
    display: flex;
    width: 200%;
    height: 200%;
}

.container-carruzel {
    margin: auto;
    border: solid;
    border-color: white;
    width: 90%;
    max-width: 750px;
    overflow: hidden;
    position: relative;
}

.conteiner-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.controlador-carruzel {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 50%;
    background-color: transparent;
    cursor: pointer;
}

.controlador-derecha {
    right: 10px;
}

.controlador-izquierda {
    left: 10px;
}



